/* General Styles */
.button-style {
    -fx-font-size: 18px;
    -fx-min-width: 145px;
    -fx-min-height: 60px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

/* button */
.button-default {
    -fx-background-color: #3498db;
}

.button-hover {
    -fx-background-color: #2980b9;
}

/* button-make-gif */
.button-make-gif-default {
    -fx-background-color: #2ecc71;
}

.button-make-gif-hover {
    -fx-background-color: #27ae60;
}

/* button-reset */
.button-style-second {
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.button-reset-default {
    -fx-background-color: #e74c3c;
}

.button-reset-hover {
    -fx-background-color: #c0392b;
}

/* Delay input */
.text-field-style {
    -fx-font-size: 16px;
}

.delay-input {
    -fx-max-width: 60px;
}

.text-title {
    -fx-font-size: 24px;
}

.second-text {
    -fx-font-size: 16px;
    -fx-padding: 5px;
    -fx-background-color: #f4f4f4;
}

.label-delay {
    -fx-font-size: 16px;
}

.combo-box {
    -fx-font-size: 14;
    -fx-background-color: #eeeeee;
    -fx-border-color: #2196f3;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 10;
}

.combo-box .list-cell {
    -fx-padding: 5 10;
}

.combo-box .cell:hover {
    -fx-background-color: #e0e0e0;
}

.combo-box .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.combo-box .button:hover {
    -fx-background-color: transparent;
}